*{
    padding:0;
    margin:0; 
}   

body{
    min-width: 700px;
    background:url("../image/background.png") no-repeat center top ;
    background-size:100% 100%;
    background-attachment: fixed;
    opacity:1;
}

a:hover{
    text-decoration: none
}
.container{
    padding:0 !important;
    margin:0 !important;
    width:100%;
    overflow:hidden;
    font-family: Microsoft YaHei,Helvetica Neue,Helvetica,Roboto,Segoe UI,Arial,sans-serif;
}
.vuedesignheader{
    line-height:50px;
    background:rgb(179, 179, 179);
    padding-left:35px;
    font-size:18px;
    font-weight: bold;
    color:rgb(0, 17, 255);
    letter-spacing: 5px
    
}
.listcontainer{
    width:100%;
    margin: 0px 30px
}
.left{
    background:rgb(192, 230, 255);
    height:100%;
    text-align: center;
    padding-left:27px
}
.right{
    background:rgb(218, 218, 218);
}
.title{
    display:block;
    font-size: 20px;
}
.title img{
    border:1px solid rgba(0, 128, 0,0.8);
    margin-top:10px
}
.title small{
    font-size:13px;
    letter-spacing: 3px;
    margin-top:1px;
    display:block
}
.navbar{
    width:100%;
    text-align:center;
}


/*right开始*/
.rightcontainer{
    width:100%;
    border:1px solid red;
    display:flex;
}
.rightcontainer .rightitem{
    flex:1;
    width:100px; 
    border:1px solid green;
    margin:5px

}
.right{
    padding-left:0px
}
.right img{
    width:200px;
    height: 180px;
    
}
.vuedesign{
    width:120px;
    height:100px;
    border:1px solid red
}

.rightlisttitle{
    display:inline-block;
    position: relative;
    overflow: hidden;
    border:2px solid white;
    border-radius: 35px;
    margin-right:20px;

}
.rightlisttitle .rightbtm{
    cursor: pointer;
}
.rightlisttitle .rightbtm img{
    width:30px;
    height:auto;
    position: absolute;
    bottom:8px;
    left:20px;
}
.rightlisttitle a{
    color:rgb(255, 0, 242);
    font-weight: bolder;
    font-size:19px;

}
.rightlisttitle a:hover{
    color:red;
    transition-duration:1s
}
.rightlisttitle .listtitle{
    width:200px;
    height: 180px;
    position:absolute;
    display: block;
    padding:20px;

}