*{
    padding:0;
    margin:0;
}
.lineHeight25{
    line-height:25px;
}
body{
    padding:20px 80px;
    min-width: 700px;
    background:url("../image/background.png") no-repeat center top ;
    background-size:100% 100%;
    background-attachment: fixed;
    opacity:1;
}
a:hover{
    cursor:pointer;
    color:red;
    text-decoration: none;
}
.middle{
    vertical-align: middle !important;
    text-align: center;
}
.bgcS{
    background:rgb(219, 219, 219);
    vertical-align: middle !important
}
.bgcS ol li{
    list-style: none;
} 
.skillsbgcs{
    color:rgb(243, 243, 243);
}
.bgcS img{
    width:100%;
}
.bgcB{
    background:rgb(189, 188, 188)
}
.bgc{
    background:rgb(250, 249, 249)
}
.skilltd{
    padding-right:10px !important
}
.skill{
    list-style:none;
    
}
.theader{
    text-align: center;
    color:rgb(27, 255, 255);
    font-size:18px
}
.theader b{
    margin-left:60px
}
.theader img{
    width:26px;
    margin-right:25px;
    float:right;
}
